fastapi>=0.68.0
uvicorn>=0.18.3
sqlalchemy>=2.0.0
asyncpg>=0.27.0
psycopg2-binary>=2.9.0
pydantic>=1.10.0
python-dotenv>=0.21.0
passlib[bcrypt]>=1.7.4
jwcrypto>=1.5.0
boto3>=1.26.0
aiobotocore>=2.5.1
celery>=5.3.0
redis>=4.5.5
python-multipart>=0.0.20
gunicorn>=21.2.0
black==23.9.1
isort==5.12.0
autoflake==1.7.8
pylint
pydantic_settings
python-jose[cryptography]
alembic